<!doctype html>
<html lang="ml">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">
		<title>Malayalam Phonetic Analyser</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<header>
			<nav class="teal lighten-2">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo center">Malayalam Phonetic Analyser</a>
				</div>
			</nav>
		</header>
		<div class="container">
			<textarea id="text_to_analyse" placeholder='Text to analyse' class="materialize-textarea"
				name="text">{% if text %}{{text}}{% else %}മലയാളം എന്റെ മാതൃഭാഷയാണ്.{% endif %}</textarea>
			<a id='syllablize' class="waves-effect waves-light btn">SYLLABIFY</a>
			<p class="grey-text">Orthographic Syllabification: Converts Malayalam text to syllabified form</p>
			<div id="syllable_results">
			</div>

			<a id='analyse' class="waves-effect waves-light btn">ANALYSE</a>
			<p class="grey-text">Analyse Malayalam text and return its pronunciation in IPA along with phonetic features</p>
			<div id="analysis_results">
			</div>

			<a id='getipa' class="waves-effect waves-light btn">TRANSCRIBE</a>
			<p class="grey-text">Converts Malayalam text to IPA </p>
			<div id="ipa_results">
			</div>
		</div>
		</div>
		<footer class="page-footer teal  ">
			<div class="footer-copyright teal ">
				<div class="container">
					<div class="row">
						<div class="col l6 s12">
							<h5 class="white-text"> Mlphon</h5>

							<p class="white-text">A Multifunctional Grapheme-Phoneme Conversion Tool using Finite State
								Transducers</p>
							<p class="white-text">This open source software tool is developed as a one-stop solution to handle different text processing requirements associated with automatic speech recognition, text to speech synthesis and non-speech natural language processing tasks including phonemic diversity analysis, text transliteration and machine translation for Malayalam language</p>
							<h5>
								Applications using Mlphon
							</h5>
							<ul>
								<li>
									<a class=" grey-text text-lighten-4 " href="https://ccoreilly.github.io/vosk-browser/">Malayalam Automatic speech recognition</a>
								</li>
								<li>
									<a class=" grey-text text-lighten-4 " href="https://mozhi.me/">Malayalam -English Code switched TTS</a>
								</li>

							</ul>
						</div>
						<div class="col l4 offset-l2 s12">
							<ul>
								<li><a class=" grey-text text-lighten-4 " href="https://phon.smc.org.in/">Malayalam
										Phonetic Analyser</a></li>
								<li><a class=" grey-text text-lighten-4  "
										href="https://github.com/kavyamanohar/mlphon">Source code</a>
								</li>

								<li><a class=" grey-text text-lighten-4 " href="https://kavyamanohar.com">Kavya Manohar</a></li>
								<li>
									<a class=" grey-text text-lighten-4 " href="https://pypi.org/project/mlphon/">Python Library</a>
								</li>
								<li>
									<a class=" grey-text text-lighten-4 " href="https://gitlab.com/kavyamanohar/malayalam-phonetic-lexicon">Pronunciation Lexicons</a>
								</li>

							</ul>

						</div>
					</div>
		</footer>
	</body>